@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/latoregular.woff2") format("woff2"),
    url("../fonts/latoregular.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/latosemibold.woff2") format("woff2"),
    url("../fonts/latosemibold.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/latobold.woff2") format("woff2"),
    url("../fonts/latobold.woff") format("woff");
}
